/* Global Styles */
body {
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }
 /* Shopping Cart Icon */
  .fas.fa-shopping-cart {
    font-size: 24px;
    position: absolute;
    top: 50px;
    right: 120px;
}
/* Logo Styles */
  .logo {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
}

.logo img {
    width: 85px; 
    height: auto; 
}

/* Hamburger Menu Styles */
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(245, 21, 242);
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 30%; 
    height: 100vh; 
    margin: -60px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/* Main Content Container Styles */
.tables-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
/* Styles for Contact and Leave Message Tables */
.contact-table,
.leave-message-table {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px;
    background-color: #fff;
}
/* Label and Input/Textarea Styles */
label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
/* Styles for Leave Message Table */
.leave-message-table td {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.leave-message-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #fff;
}
/* Heading Styles */
h2 {
    text-align: center;
}

/* Submit Button Styles */
.Submit-button{
    background-color: #ffd6f2; 
    color: #545454;; 
    padding: 10px 20px; 
    border: 2px solid #f392c3;
    float: right;
    top: 900px;  
    right: 70px;
    
  
}

.Submit-button:hover {
    background-color: #ffd6f25e;
} 
/* Responsive Styles for Small Screens */
@media screen and (max-width: 1161px) {
    .tables-container {
        display: grid;
        flex-direction: column;
        align-items: stretch;
    }

    .contact-table,
    .leave-message-table {
        max-width: 100%;
        margin: 20px;
    }

    .Submit-button {
        position: static;
        float: none;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}